---
const formStrings = {
name: "Nombre",
  email: "Correo electrónico",
  phone: "Teléfono (opcional)",
  message: "Mensaje",
  submit: "Enviar",
};
---


<form class="p-4" aria-label="Formulario de contacto">
  <div class="space-y-4">
    {/* Campo Nombre */}
    <div class="relative">
      <input
        type="text"
        id="input-name"
        class="peer block w-full rounded-lg border border-transparent p-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-teal-700/80 focus:pb-2 focus:pt-6 focus:outline-hidden focus:ring-2 focus:ring-teal-700/80 not-placeholder-shown:pb-2 not-placeholder-shown:pt-6"
        placeholder={formStrings.name}
        required
        aria-labelledby="input-name-label"
      />
      <label
        id="input-name-label"
        for="input-name"
        class="pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent p-4 text-slate-600 transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-focus:text-slate-600 peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-slate-600"
      >
        {formStrings.name}
      </label>
    </div>

    {/* Campo Correo electrónico */}
    <div class="relative">
      <input
        type="email"
        id="input-email"
        class="peer block w-full rounded-lg border border-transparent p-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-teal-700/80 focus:pb-2 focus:pt-6 focus:outline-hidden focus:ring-2 focus:ring-teal-700/80 not-placeholder-shown:pb-2 not-placeholder-shown:pt-6"
        placeholder={formStrings.email}
        required
        aria-labelledby="input-email-label"
      />
      <label
        id="input-email-label"
        for="input-email"
        class="pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent p-4 text-slate-600 transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-focus:text-slate-600 peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-slate-600"
      >
        {formStrings.email}
      </label>
    </div>

    {/* Campo Teléfono (opcional) */}
    <div class="relative">
      <input
        type="tel"
        id="input-phone"
        class="peer block w-full rounded-lg border border-transparent p-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-teal-700/80 focus:pb-2 focus:pt-6 focus:outline-hidden focus:ring-2 focus:ring-teal-700/80 not-placeholder-shown:pb-2 not-placeholder-shown:pt-6"
        placeholder={formStrings.phone}
        aria-labelledby="input-phone-label"
      />
      <label
        id="input-phone-label"
        for="input-phone"
        class="pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent p-4 text-slate-600 transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-focus:text-slate-600 peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-slate-600"
      >
        {formStrings.phone}
      </label>
    </div>

    {/* Campo Mensaje */}
    <div class="relative">
      <textarea
        id="input-message"
        class="peer block w-full rounded-lg border border-transparent p-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-teal-700/80 focus:pb-2 focus:pt-6 focus:outline-hidden focus:ring-2 focus:ring-teal-700/80 not-placeholder-shown:pb-2 not-placeholder-shown:pt-6"
        placeholder={formStrings.message}
        required
        aria-labelledby="input-message-label"
      ></textarea>
      <label
        id="input-message-label"
        for="input-message"
        class="pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent p-4 text-slate-600 transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-focus:text-slate-600 peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-slate-600"
      >
        {formStrings.message}
      </label>
    </div>
  </div>

  {/* Botón enviar */}
  <div class="mt-8">
    <button
      type="submit"
      class="inline-flex items-center rounded-lg bg-teal-100 px-6 py-2 font-medium text-slate-700 transition-colors duration-300 hover:bg-teal-700/80 hover:text-white focus:bg-teal-700/80 focus:outline-hidden"
    >
      {formStrings.submit}
    </button>
  </div>
</form>